html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
    width: 100%;
}

.img-small {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}


/* Remove underline from all links */
.nav-link {
    text-decoration: none;
}

/* Style for the active page */
.active-page {
    background-color: white;  /* White background */
    color: black;             /* Black text */
    border-radius: 5px;       /* Rounded corners */
    padding: 5px 10px;        /* Padding for better spacing */
}










